body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

/*Bootstrap override*/
body {
    font-size: 15px;
}

h3, .h3 {
    font-size: 28px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 15px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}

.navbar-brand {
    font-weight: 700;
}

.btn {
    font-size: 15px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    padding: 8px 14px;
}

