body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

/*Bootstrap override*/
body {
    font-size: 15px;
}

h3, .h3 {
    font-size: 28px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 15px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}

.navbar-brand {
    font-weight: 700;
}

.btn {
    font-size: 15px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    padding: 8px 14px;
}

/*Page specific styles*/

.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

    .gigs > li .details .artist {
        font-weight: bold;
        display: block;
    }

    .gigs > li .details .genre {
        font-size: 13px;
    }


.gigs > li .date {
    background: #c71585;
    color: white;
    width: 60px;
    text-align: center;
     -ms-border-radius: 6px;
    border-radius: 6px;
}
    .gigs > li .date .month {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        padding: 2px 6px;
   
    }

    .gigs > li .date .day {
        background: #f5f5dc;
        color: #8b008b;
        font-size: 18px;
        padding: 6px 12px;
    }
